

.header-filme {
  margin: 30px 0;
  height: 250px;
  background: #fff;

  .col{
    text-align: center;
  }
}

.filme {
  height: 100px;
  background: #fff;
  border: 3px solid #1E8BC3;
}

.info {
  margin-bottom: 30px;
  .count {
    color: white;
    font-weight: bold;
  }
}

.campeonato {
  height: 100px;
  background: #fff;
  margin-bottom: 15px;
}